{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nice Notes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'notes/vendor/pure.min.css' %}">
    <link rel="stylesheet" href="{% static 'notes/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'notes/css/styles.css' %}">
    <script type="text/html" id="login-template">
        <form class="pure-form pure-form-stacked" action="" method="post">
          <fieldset>
            <legend>Login</legend>
            <label for="id_username">Mobile</label>
            <input id="id_username" type="text" maxlength="10" name="username" required>
            <label for="id_login_password">Password</label>
            <input id="id_login_password" type="password" name="password" required>
            <input class="pure-button pure-button-primary" type="submit" value="Login">
          </fieldset>
        </form>
    </script>
    <script type="text/html" id="register-template">
        <form class="pure-form pure-form-stacked" action="" method="post">
          <fieldset>
            <legend>Register</legend>
            <label for="id_mobile">Mobile</label>
            <input id="id_mobile" type="text" maxlength="10" name="mobile" required>
            <label for="id_full_name">Full Name</label>
            <input id="id_full_name" type="text" maxlength="30" name="full_name" required>
            <label for="id_password">Password</label>
            <input id="id_password" type="password" name="password" required>
            <input class="pure-button pure-button-primary" type="submit" value="Register">
          </fieldset>
        </form>
    </script>
    <script type="text/html" id="header-template">
      <div class="pure-menu custom-menu">
        <h1 class="pure-menu-heading custom-menu-heading">Nice Notes</h1>
      <% if (authenticated) { %>
          <nav class="pure-menu-list custom-menu-list">
            <li class="pure-menu-item <% if (location.hash === '') { %>custom-menu-selected<% } %>">
              <a class="pure-menu-link custom-menu-link" href="#">Your Notes</a>
            </li>
            <li class="pure-menu-item <% if (location.hash === '#shared') { %>custom-menu-selected<% } %>">
              <a class="pure-menu-link custom-menu-link" href="#shared">Shared Notes</a>
            </li>
            <li class="pure-menu-item">
              <a class="pure-menu-link custom-menu-link" id="logout" href="#">Logout</a>
            </li>
          </nav>
      <% } %>
      </div>
    </script>
    <script type="text/html" id="notes-template">
      <h2><%- title %></h2>
      <% if (!sharedView) { %>
        <button class="pure-button pure-button-primary" id="new-note">Add Note</button>
      <% } %>
          <div class="pure-g notes">
        <% if (notes !== null && notes.length !== 0) { %>
          <% _.each(notes.models, function(note){ %>
            <div class="pure-u-1 note" data-id="<%- note.get('id') %>">
              <p class="content"><%- note.get('content') %></p>
              <p>
                <span>Created: <%- note.get('createdon') %></span>
                <span>Modified: <%- note.get('modifiedon') %></span>
              </p>
              <% if (!sharedView || note.get('access') === 'edit') { %>
              <button class="pure-button pure-button-primary edit-note">Edit</button>
              <% } %>
              <% if (!sharedView) { %><button class="pure-button pure-button-primary share-note">Share</button>
              <button class="pure-button delete-note">Delete</button>
              <% } %>
            </div>
          <% }); %>
        <% } else if (notes.length === 0) { %>
                <% if (sharedView) { %>
            <div class="pure-u-1 gray"><p>Nobody's shared anything with you. Sorry 'bout that.</p></div>
                <% } else { %>
            <div class="pure-u-1 gray"><p>You've got no notes. Why don't you make one?</p></div>
                <% } %>
        <% } %>
            </div>
    </script>
    <script type="text/html" id="create-note-template">
      <form class="pure-form pure-form-stacked" action="" method="post">
        <textarea id="id_content" name="content"></textarea>
        <input class="pure-button pure-button-primary" type="submit" value="Add Note">
        <input class="pure-button pure-button-primary" type="reset" value="Cancel">
        {% csrf_token %}
      </form>
    </script>
    <script type="text/html" id="edit-note-template">
      <form class="pure-form pure-form-stacked" action="" method="post">
        <textarea id="id_content" name="content"><%- note.get('content') %></textarea>
        <input class="pure-button pure-button-primary" type="submit" value="Edit Note">
        <input class="pure-button pure-button-primary" type="reset" value="Cancel">
        {% csrf_token %}
      </form>
    </script>
    <script type="text/html" id="share-note-template">
      <form class="pure-form" action="" method="post">
          <input id="search" placeholder="Search name or number" type="search">
          <input class="pure-button pure-button-primary" type="reset" value="Cancel">
        {% csrf_token %}
      </form>
    </script>
    <script type="text/html" id="user-list-template">
      <thead><tr><th>Mobile</th><th>Full Name</th><th>Access</th></tr></thead>
      <tbody>
      <% if (users !== null && users.length !== 0) { %>
          <% _.each(users, function (user) { %>
               <tr data-user-id="<%- user.get('id') %>">
                 <td class="mobile"><%- user.get('mobile') %></td>
                 <td class="full_name"><%- user.get('full_name') %></td>
                 <td>
              <select id="id_access" name="access">
                <option value="none" <% if (user.get('access') === 'none') { %>selected<% } %>>None</option>
                <option value="view" <% if (user.get('access') === 'view') { %>selected<% } %>>View</option>
                <option value="edit" <% if (user.get('access') === 'edit') { %>selected<% } %>>Edit</option>
              </select>
              </td>
               </li>
          <% }) %>
        <% } %>
        </tbody>
    </script>
  </head>
  <body>
    <section id="content"></section>
    <script src="{% static 'notes/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'notes/vendor/underscore.min.js' %}"></script>
    <script src="{% static 'notes/vendor/backbone.min.js' %}"></script>
    <script src="{% static 'notes/vendor/jquery-ui.min.js' %}"></script>
    <script id="config" type="text/json">
      {
        "models": {},
        "collections": {},
        "views": {},
        "router": null,
        "api": {
          "me": "/api/users/me",
          "users": "/api/users/",
          "notes": "/api/notes/"
        },
        "apiLogin": "{% url 'api-token' %}"
      }
    </script>
    <script src="{% static 'notes/js/app.js' %}"></script>
    <script src="{% static 'notes/js/models.js' %}"></script>
    <script src="{% static 'notes/js/views.js' %}"></script>
    <script src="{% static 'notes/js/router.js' %}"></script>
  </body>
</html>
